header {
    padding: 20px 0;
    background-color: #f1f1f1;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.menu-list li {
    display: inline-block;
    padding: 0 20px;
}

nav a {
    color: #000;
}

@media (max-width: 767px) {
    .menu-list {
        display: none;
    }
    .logo {
        text-align: center;
    }
}